*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgba(20, 198, 177, 0.586);
}

header{
    background-color: rgb(21, 222, 165);
    color: black;
    display: flex;
    justify-content: space-around;
}

header > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color:  rgb(21, 222, 165);
}

.logo{
    width: 200px;
    border-radius: 300px;
    text-align: left;
    display: flex;

}

main{
    text-align: center;
    background-color: rgb(20, 198, 178);
}

.titulomain{
    background-color: rgb(20, 198, 178);
}

.pmain{
    background-color: rgb(20, 198, 178);
}

.pc{
    width: 80%;
    border-radius: 20px;
}

footer{
    background-color: rgb(21, 222, 165);
    color: black;
    display: flex;
    justify-content: space-around;
}

footer > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: rgb(21, 222, 165);
}
